@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic,latin-ext,cyrillic-ext);

* {
	border: none;
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
html, body {
	min-width: 1000px;
	width: 100%;
	font-size: 17px;
	font-family: "Roboto Condensed";
	cursor: default;
	color: #000;
}
textarea {
	resize: vertical;
}
input {
	border: 1px solid #888;
	font-family: "Roboto Condensed";
	font-size: 17px;
}
input:hover {
	border: 1px solid #06f;
	color: #444 !important;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
	width: 100%;
	height: 28px;
	padding-left: 5px;
	color: #000 !important;
	background: #f9f9f9;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
input[type="text"][readonly],
input[type="password"][readonly],
input[type="email"][readonly],
textarea[readonly] {
	background: #dfdfdf;
}
input[type="submit"] {
	width: 100px;
	height: 30px;
	background: #eee;
	color: #888;
	cursor: pointer;
}
input[type="file"] {
	position: relative;
	bottom: 2px;
	width: 298px;
	height: 28px;
	font-family: "Roboto Condensed";
	border: 1px solid #888;
	background: #eee;
	cursor: pointer;
	color: #888;
}
textarea {
	border: 1px solid #888;
}
select {
	border: 1px solid #888;
	background: #f9f9f9;
	font-family: "Roboto Condensed";
	font-size: 17px;
	height: 25px;
	width: 300px;
	height: 30px;
}
a.button {
	background: #eee;
	color: #888;
	cursor: pointer;
	display: inline-block;
	border: 1px solid #888;
	padding: 0px 30px;
	line-height: normal;
	text-decoration: none;
	line-height: 28px;
	height: 28px;
}
a.button:hover {
	border: 1px solid #06f;
}
h1 {
	border-bottom: 1px solid #888;
	padding-bottom: 4px;
	margin: 20px 20px 0;
	font-size: 18px;
	font-weight: 400;
}
a {
	text-decoration: underline;
	color: #666;
}
a:hover {
	color: #000;
}
ul.status {
	margin: 10px -20px 0 -20px;
	padding: 10px 20px;
	display: none;
}
ul.status.error {
	background: #e25252;
	display: block;
}
ul.status.apply {
	background: #92b236;
	display: block;
}
ul.status li {
	color: #fff;
	line-height: 27px;
}
p.materialsNotFound {
	text-align: center;
	margin-top: 10px;
	padding-top: 5px;
	border-top: 1px solid #000;
}


/* HEADER */
header {
	position: relative;
	line-height: 90px;
	height: 90px;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}
header img {
    height: 20px;
    margin-left: 20px;
    margin-top: 10px;
}
header div {
	position: absolute;
	right: 20px;
	top: 0;
	text-transform: uppercase;
	font-size: 24px;
	color: #aaa;
}
menu {
	position: relative;
	background: linear-gradient(to bottom,#fff,#eee);
	font-size: 0px;
}
menu li {
	font-size: 17px;
	display: inline-block;
	border-left: 1px solid #e8e8e8;
}
menu li:first-child {
	margin-left: 20px;
}
menu li:nth-last-child(2) {
	border-right: 1px solid #eee;
}
menu li:last-child {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	margin-right: 20px;
	border-right: 1px solid #e8e8e8;
}
menu a {
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 18px;
	color: #666;
}
menu a.active {
	background: linear-gradient(to bottom, #888, #666);
	color: #eee;
	cursor: default;
}
menu a:not(.active):hover {
	background: rgba(0,0,0,0.05);
	color: #000;
}


/* LOGIN */
article.login form {
	width: 400px;
	margin: 100px auto 0;
	border: 1px solid #999;
}
article.login form .title {
	background: #eee;
	padding: 7px 20px;
	border-bottom: 1px solid #ccc;
	color: #888;
}
article.login form ul {
	padding: 20px;
	font-size: 0;
}
article.login form li {
	display: inline-block;
	width: 30%;
	line-height: 35px;
	font-size: 17px;
}
article.login form li:nth-child(2n) {
	width: 70%;
}
article.login form li:last-child {
	padding-top: 10px;
}


/* MAIN */
.main ul.status {
	margin: 7px 0 0;
}
.main form {
	margin: 3px 20px;
}
.main form ul {
	font-size: 0;
}
.main form li {
	display: inline-block;
	width: 20%;
	line-height: 35px;
	font-size: 17px;
}
.main form li:nth-child(2n) {
	width: 80%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.main form li:last-child {
	padding-top: 10px;
}


/* LIST PAGE */
article.list {
	margin: 0 20px 100px;
}
.list h1 {
	margin: 20px 0 0;
}
.catList {
	margin: 15px 0 20px;
}
.catList li {
	display: inline-block;
	margin: 0 5px 0 0;
	font-size: 17px;
	width: auto !important;
}
.catList li a.active {
	color: #000;
	text-decoration: none;
	cursor: default;
}
.list table {
	margin: 10px 0;
	width: 100%;
	border-collapse: collapse;
}
.list th {
	padding: 10px;
	border: 1px solid #888;
	text-transform: uppercase;
	text-align: center;
	font-weight: bolder;
}
.list td {
	padding: 0 5px;
	border: 1px solid #888;
	text-align: center
}
.list td:nth-child(1) {
	width: 30px;
}
.list td:nth-child(2) {
	text-align: left;
}
.list td:nth-child(2),
.list td:nth-child(4) {
	width: 200px;
}
.list td:nth-child(5) {
	width: 150px;
	text-align: center;
}
a.action {
	text-decoration: none;
	padding: 0 4px;
	display: inline-block;
}
a.action:hover {
	opacity: 0.5;
}
a.action img {
	width: 14px;
	height: 14px;
}


/* EDIT PAGE */
article.edit {
	margin: 0 20px 100px;
}
article.edit ul {
	margin: 0 20px 100px;
	font-size: 0;
}
article.edit ul.status:not(.catList) li {
	display: block;
	line-height: normal;
	color: #fff;
}
article.edit ul:not(.catList) li {
	display: inline-block;
	width: 20%;
	line-height: 35px;
	font-size: 17px;
	vertical-align: top;
}
article.edit ul:not(.catList) li:nth-child(2n) {
	width: 80%;
}
article.edit form > ul:not(.catList) > li:last-child {
	width: 100%;
	padding-top: 10px;
	border-top: 1px solid #888;
	margin-top: 20px;
	text-align: center;
}
.main form li:last-child {
	padding-top: 10px;
	margin-top: 4px;
	width: 100%;
	text-align: center;
	border-top: 1px solid #888;
}
.edit > form {
	margin-top: 15px;
	margin-bottom: 100px;
}
ul.catNet li {
	width: 293px !important;
	margin-right: 11px;
}
.catListBlock.hide {
	display: none;
}
.catListBlock.hide + div {
	display: block;
}
.addCatBlock {
	display: none;
}
span#newCatMess {
	color: #f88;
	margin-left: 5px;
}
input.imgSrc {
	width: 300px;
}
body.cke_editable_themed {
	background: #f9f9f9;
}


/* FILE MANAGER */
.popShadow {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.3);
}
.popShadow .popup {
	position: relative;
	width: 980px;
	height: 550px;
	margin: 100px auto;
	background: #fff;
	border: 1px solid #888;
}
.popShadow .popTitle {
	font-size: 20px;
	height: 40px;
	line-height: 38px;
	padding-left: 15px;
	background: linear-gradient(to bottom,#fff,#eee);
	border-bottom: 1px solid #ccc;
	color: #888;
}
.popShadow .popTitle span {
	color: #ccc;
}
.closePopup {
	background: none;
	color: #888;
	font-family: arial;
	font-size: 18px;
	font-weight: bold;
	position: absolute;
	top: 10px;
	right: 10px;
	line-height: 21px;
	cursor: pointer;
}
.popShadow .popTitle + ul {
	padding: 0 10px;
	margin: 0;
	text-align: center;
	height: 499px;
	overflow: auto;
}
li.selectImgURLBlock,
li.selectGImgURLBlock {
	position: relative;
	width: 170px !important;
	height: 120px;
	text-align: center;
	padding: 15px;
	border: 2px solid #eee;
	margin: 5px;
	cursor: pointer;
}
li.selectImgURLBlock *,
li.selectGImgURLBlock * {
	opacity: 1;
	transition: opacity 400ms;
	-o-transition: opacity 400ms;
	-moz-transition: opacity 400ms;
	-webkit-transition: opacity 400ms;
}
li.selectImgURLBlock:hover *,
li.selectGImgURLBlock:hover * {
	opacity: 0.7;
}
li.selectImgURLBlock div.imgsFolderPrewBlock,
li.selectGImgURLBlock div.imgsFolderPrewBlock {
	width: 150px;
	height: 150px;
	line-height: 146px;
	border: 1px solid #000;
	margin: auto;
}
li.selectImgURLBlock img,
li.selectGImgURLBlock img {
	max-width: 100%;
	max-height: 80%;
	vertical-align: middle;
}
li.selectImgURLBlock div.imgsFolderFileName,
li.selectGImgURLBlock div.imgsFolderFileName {
	width: 100%;
	height: 25px;
	line-height: 23px;
	overflow: hidden;
	position: absolute;
	left: 0;
	bottom: 8px;
}

